<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="Sample"
          name="Sample"
          class="com.jspiders.springs.demo.Sample"/>

    <bean id="contact"
          name="contact"
          class="com.jspiders.springs.demo.ContactInfo"/>
    <bean id="address"
          name="address"
          class="com.jspiders.springs.demo.Address"/>

    <bean id="employee"
           name="employee"
            class="com.jspiders.springs.demo.Employee">
        <constructor-arg ref="contact"/>
        <property name="id" value="1001"/>
        <property name="name" value="John Doyle"/>
        <property name="sal" value="10000.0"/>

        <property name="address" ref="address"/>
    </bean>

</beans>